/bin
/go.work
/go.work.sum
/core
/.cache
/.ccache
/myscripts
/.github/instructions/afk
/.github/instructions/hints.md
/.github/instructions/todo.md
/.github/instructions/current_summary.md
/.github/instructions/backlog_*.md
/ffstream.code-workspace
/.Android
/3rdparty
/.bug
/.roo
/.github/instructions/test_plan.md
/.continue
